:root { 
--gray_700:#696671; 
--gray_400:#c4c4c4; 
--blue_700:#2d87b6; 
--blue_800:#164ec0; 
--gray_800:#3a3740; 
--blue_600_02:#217eec; 
--blue_600:#2284f1; 
--gray_900:#28262c; 
--gray_50:#f9f9f9; 
--gray_100:#f5f5f5; 
--indigo_900_03:#082299; 
--indigo_900_01:#051a91; 
--indigo_900_02:#061c93; 
--blue_600_01:#1f80eb; 
--blue_gray_900_01:#202b37; 
--indigo_900:#06286e; 
--blue_gray_900:#071844; 
--white_A700:#ffffff; 
}
